DB_DSN=postgres://postgres:mysecretpassword@events-processing-postgres:5432/events-processing?sslmode=disable
PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=events-processing
CONNECTION_POOL=10
WORKER_SIZE=13
BUFFER_SIZE=100